.addnewrecord-container{
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(85, 165, 211, 0.4);
}

.sidebar {
  width: 350px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(138, 197, 224);
  gap: 40px;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 50px;

}

.sidebar li {
  cursor: pointer;
  padding:30px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 100px;
  height: 10px;
  color: black;
  font-weight: bold;
  background-color: #7ca7dee2;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.sidebar li:hover {
  background-color: #a3d1e9;
}

.main-content-newrecord {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-image: url('img 7.jpg');
  background-size: cover;
}

h1 {
  font-size: 3.4em;
  color: #333;
  margin-bottom: 30px;
  margin-left: 10px;
}

input[type='text-addnewrecord'],
input[type='file'] {
  margin-bottom: 15px; 
  padding: 10px;
  width: 30%; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.done-button {
  padding: 10px 20px;
  width: 30%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.all-records{align-self: flex-end;
  align-self: flex-end;
  width: 30%;
  background-color: rgba(75, 68, 66, 0.699);
}

.success-message{
  background-color: brown;
}