.doctor-profile-container {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(85, 165, 211, 0.4);
}

.sidebar-doctor-profile-container {
  width: 350px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(138, 197, 224);
  gap: 40px;
}

.sidebar-doctor-profile-container ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 50px;
}

.sidebar-doctor-profile-container li {
  cursor: pointer;
  padding:30px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 100px;
  height: 10px;
  color: black;
  font-weight: bold;
  background-color: #7ca7dee2;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.sidebar-doctor-profile-container li:hover {
  background-color: #a3d1e9;
}

.main-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('img 8.jpg');
  background-size: cover;
}

.profile-picture {
  align-self: center;
  align-items: center;
margin-top: 10px;
}

.profile-picture img {
  width: 130px;
  height: 130px;
 

}

.profile-info{
  width: 100%;
  height: 70%;
   display: flex;
   flex-direction: column;
   border: solid;
   border-color: black;
   
   
}
.doctor-details{
  text-align: center;
}
h1 {
  font-size: 3.4em;
  color: #333;
 
}