.patient-profile-container {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(85, 165, 211, 0.4);
  
}

.sidebar-patient-profile {
  width: 350px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(138, 197, 224);
  gap: 40px;
}

.sidebar-patient-profile ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 50px;
 
}

.sidebar-patient-profile li {
  cursor: pointer;
  padding:30px;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 100px;
  height: 10px;
  color: black;
  font-weight: bold;
  background-color: #7ca7dee2;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 100%;
}


.sidebar-patient-profile li:hover {
  background-color: #a3d1e9;
}

.main-content-patient-profile {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('img 7.jpg');
  background-size:cover;
}

.profile-picture {
  position: relative;
  margin-bottom: 10px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture input[type="file"] {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.patient-info {
  text-align: center;
  display: flex;
  justify-content: center;
}

.patient-info h2 {
  margin-bottom: 10px;
}

h1 {
  font-size: 3.4em;
  color: #333;
  margin-bottom: 30px;
}