 
  .imagecontainer {
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }