.image-container {

  background-image: url('double_upscaled.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.home-heading1 {
  color: black;
  margin-left: 100px;
  margin-top: 200px;
  
}
.home-heading2 {
  color: black;
  margin-left: 100px;
 
}
.home-heading1, .home-heading2 {
  line-height: 0.2; /* Adjust this value as needed */
}
.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #7c91c2, #2d5fc2);
}

.button-container {
  width: 40%;
  display: flex;
  background-color: transparent;
  position: fixed;
  justify-content: flex-end;
  flex-wrap:nowrap;
  align-items: flex-end;
  padding-right: 45px;
  top:15px;
  right: 0;

}
.round-button:hover {
  background-color: #fcf7fa;

}
.round-button {
padding: 20px 30px; 
color: #030a0f;
border:none;
border-radius: 12px; 
cursor: pointer;
width: auto; 
text-align: center;
margin-right:50px;
font-size: 20px;
background-color: transparent;

}




