.mypatient-container {
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(85, 165, 211, 0.4);
}

.sidebarmypatient {
  width: 350px;
  display: flex;
  justify-content: center;
  background-color: rgb(138, 197, 224);
}

.sidebarmypatient ul {
  list-style-type: none;
  padding: 60px;
  margin-top: 70px;
}

.sidebarmypatient li {
  cursor: pointer;
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;
  width: 100px;
  height: 10px;
  color: black;
  font-weight: bold;
  background-color: #7ca7dee2;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.sidebarmypatient li:hover {
  background-color: #a3d1e9;
}

.main-content-mypatient {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile-picture {
  position: relative;
  margin-bottom: 10px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture input[type="file"] {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  width: 80%;
  height: 40%;
  cursor: pointer;
}
.patient-list{
 
}
.patient-box {
  height: 40%;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
}


.patient-box button {
  margin-top: 10px; /* Add margin between patient info and button */
}





